{% extends "login/layout.html" %}
{% block content %}
  <div class="container">
    <form class="login-form" name="input" action="{{ url('login.verifyAuth') }}" method="post">
      <h1>Login to Openbadge test</h1>
	<input type="hidden" name="_csrf" value="{{ csrfToken }}"></input>
      	<div class="form-field-wrapper">
        	<label class="badge-label left" for="username">Username</label>
        	<input class="badge-field" type="text" name="username" value="">
     	</div>

      	<div class="form-field-wrapper">
        	<label class="badge-label left" for="password">Password</label>
        	<input class="badge-field" type="password" name="password" value="">
      	</div>
      	<button class="btn submit-btn" type="submit">Login</button>
    </form>
  </div>
{% endblock %}
